// Bootstrap variables
$body-bg: #000;
$body-color: #111;

$font-family-base: 'Open Sans';

@font-face {
  font-family: 'Galano Grotesque';
  src: url('assets/fonts/eot/GalanoGrotesqueRegular.eot');
  src: url('assets/fonts/eot/GalanoGrotesqueRegular.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/woff/GalanoGrotesqueRegular.woff') format('woff'),
       url('assets/fonts/ttf/GalanoGrotesqueRegular.ttf') format('truetype'),
       url('assets/fonts/svg/GalanoGrotesqueRegular.svg#GalanoGrotesqueRegular') format('svg');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}