@import '_bootstrap';
@import '_aos';

// Global
a,
a:hover {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
   li {
    list-style: none;
   }
}

figure {
  margin: 0;
}

section {
  overflow: hidden;
}

label {
  font-size: 12px;
  color: $primary;
}

input {
  width: 100%;
  height: 40px;
  background-color: #F5F5F5;
  border: none;
  margin-bottom: 15px;
}
textarea {
  width: 100%;
  height: 40px;
  background-color: #F5F5F5;
  border: none;
  height: 150px;
}

.owl-carousel {
  display: none;
  width: 100%;
  float: left;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  text-indent: -1000000px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -43px;
  z-index: 50;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 16px;
  background-color: #F5F5F5;
  border-radius: 100%;
}
.owl-carousel .owl-nav .owl-prev {
  left: -50px;
  transform: rotate(-180deg);
}
.owl-carousel .owl-nav .owl-next {
  right: -50px;
}
.owl-carousel .owl-nav .owl-prev:hover {
}
.owl-carousel .owl-nav .owl-next:hover {
}
.owl-carousel .owl-nav .disabled {
  opacity: 0.5;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-theme .owl-dots {
  position: relative;
  bottom: 0;
  z-index: 10;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*="owl-"] {
  display: inline-block;
  cursor: pointer;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  position: relative;
}
.owl-theme .owl-dots .owl-dot span {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 7px;
  border-radius: 100%;
  text-align: center;
  background: $primary;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;

  @media (max-width: 991px) {
    width: 12px;
    height: 12px;
  }
}
.owl-theme .owl-dots .owl-dot.active span {
  position: relative;
  background: $secondary;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.wp-pagenavi {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wp-pagenavi .pages {
  margin: 0 20px;
}
.wp-pagenavi .current {
  padding: 8px 16px;
  border-radius: 1px;
  color: inherit !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.wp-pagenavi a {
  width: auto;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  border: thin solid white;
}
.wp-pagenavi a:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #111;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}


.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal.fade .modal-dialog {
  /*transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);*/
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  outline: 0;
}
.modal-close {
  position: absolute;
  top: 45px;
  right: 45px;
  width: 30px;
  height: 30px;
  background-image: url(../images/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.modal-dialog .modal-body p {
  text-align: center;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog.modal-vertical-video {
    max-width: 265px;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-dialog.modal-inscricao {
    max-width: 675px;
  }
}
@media (min-width: 768px) {
  .modal-dialog.modal-horizontal-video {
    max-width: 745px;
  }
}
@media (min-width: 640px) {
  .modal-dialog.modal-lg {
    max-width: 635px;
  }
}
@media (max-width: 575px) {
  .modal-dialog.modal-vertical-video {
    max-width: auto;
  }
  .modal-dialog.modal-vertical-video iframe {
    width: 100%;
    height: 470px;
  }
  .modal-close {
    top: 20px;
    right: 20px;
  }
}
@media (max-width: 767px) {
  .modal-dialog.modal-horizontal-video {
    max-width: auto;
  }
  .modal-dialog.modal-horizontal-video iframe {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 640px) {
  .modal-dialog.modal-lg {
    max-width: auto;
  }
  .modal-dialog.modal-lg img {
    width: 100%;
  }
}

#menuToggle {
  display: none;
  width: 32px;
  height: 32px;
  position: relative;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #283380;
  border-radius: 4px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    top: 21px;
    height: 1px;
    width: 20px;
    background: #283380;
    opacity: 1;
    left: 5px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 9px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 21px;
    }
    &:nth-child(4) {
      top: 15px;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 5px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 6px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 15px;
      }
    }
  }
}

@media (max-width: 1199px) {
  #menuToggle {
    display: block;
  }
  .menu-principal {
    height: 0;
    display: block !important;
    opacity: 0 !important;
    display: block;
    box-shadow: none;
    border-radius: 4px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    z-index: 10;
    top: 65px;
    left: inherit;
    right: 0;
    width: 200px;
    margin: 0;
    background-color: $primary;
    border-radius: 10px;
    ul {
      display: block !important;
      a {
        padding: 0 !important;
      }
    }
    &.expanded {
      height: auto;
      opacity: 1 !important;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      ul {
        display: block !important;
        height: auto !important;
        border-radius: 7px;
        li {
          text-align: right !important;
          a {
            justify-content: end;
            text-transform: uppercase;
            border: none !important;
            &.active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.desktop-version {
  display: block;
}
.mobile-version {
  display: none !important;
}
@media (max-width: 1199px) {
  .desktop-version {
    display: none !important;
  }
  .mobile-version {
    display: block !important;
  }
}

.justify-content-center {
  justify-content: center !important;
}
.row.justify-content-center {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: $body-bg;
}

// Components
@import 'components/header';
@import 'components/footer';


.btn {
  color: white;
  background-color: $secondary;
  padding: 10px;
  text-transform: uppercase;
  display: table;
  &:hover {
    background-color: $primary;
  }
}